@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

input,
button {
  font-size: 16px;
}

.head_bar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
  color: #ecf0f1;
}

.head_bar img {
  text-align: center;
  justify-content: center;
  padding-right: 10px;
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #2c3e50;
  border-radius: 10px;
  margin-bottom: 30px;
}

.input_section > h2 {
  text-align: center;
  color: #34495e;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: #34495e;
  color: #ecf0f1;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: #34495e;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}
.input_section > form > .input_inline p {
  font-style: italic;
  font-size: small;
}

.input_section > form > .input_inline > label {
  color: #34495e;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid #2c3e50;
  border-radius: 10px;
}

.search_section > h2 {
  color: #34495e;
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
}

.search_section > form > label {
  display: flex;
  align-items: center;
  color: #34495e;
  font-weight: bold;
  margin-right: 10px;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  background-color: #34495e;
  color: #ecf0f1;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf {
  margin: 16px 0 0 0;
  border: 1px solid #2c3e50;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf > h2 {
  color: #34495e;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #ecf0f1;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > button {
  border: 0;
  padding: 7px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: smaller;
}

.book_shelf > .book_list > .book_item > button:hover {
  opacity: 0.8;
}

.green {
  background-color: #2ecc71;
  color: #ecf0f1;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
}

.red {
  background-color: #e74c3c;
  color: #ecf0f1;
  padding: 5px;
  border-radius: 8px;
}

.footer {
  background-color: #34495e;
  padding: 20px;
  color: #ecf0f1;
}

.footer p {
  justify-content: center;
  text-align: center;
}
.footer a {
  color: #ecf0f1;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .book_shelf > .book_list > .book_item > button {
    margin-top: 5px;
  }
}
